<div>
  <div class="pt-2">
    <div>
      <div class="container">
        <form *ngIf='userForm' [formGroup]="userForm" (ngSubmit)="OnSubmitData(userForm)">
            <mat-form-field appearance="standard">
                <mat-label>Usuário</mat-label>
                <input matInput maxlength="15" placeholder="Usuário" formControlName="name" #nameInput>
                <mat-hint>Mini character 5: {{ nameInput.value.length }}/10</mat-hint>
                <mat-error *ngIf="f['name'].errors && f['name'].errors['required']">Usuário é obrigatório</mat-error>
                <mat-error *ngIf="f['name'].errors && f['name'].errors['minlength']">
                    O usuário deve conter ao menos 5 caracteres
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Email:</mat-label>
                <input matInput type="email" formControlName="email" placeholder="E-mail">
                <mat-hint>Insira um e-mail válido</mat-hint>
                <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">Email é obrigatório</mat-error>
                <mat-error *ngIf="f['email'].errors && f['email'].errors['pattern']">Formato do e-mail inválido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Senha:</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">Email é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Confirm a Senha:</mat-label>
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  required>
              <mat-error *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['required']">Confirme a senha</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Gênero</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="F">Feminino</mat-option>
                <mat-option value="M">Masculino</mat-option>
              </mat-select>
            </mat-form-field>

            <div mat-dialog-actions align="end">
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
            </div>
        </form>
        <div>{{ userForm.value | json }}</div>
    </div>
    </div>
  </div>
</div>
